/* Body Tag */

body{
    background-image: url('../images/bg_pattern.png');
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100vw;
}

/* CSS Animation */

@-moz-keyframes crystal{
    0% {color: white;}
    25% {color: red;}
    50% {color: cyan;}
    75% {color: yellow;}
    100% {color: white;}
}

@-webkit-keyframes crystal{
    0% {color: white;}
    25% {color: red;}
    50% {color: cyan;}
    75% {color: yellow;}
    100% {color: white;}
}

@keyframes crystal{
    0% {color: white;}
    25% {color: red;}
    50% {color: cyan;}
    75% {color: yellow;}
    100% {color: white;}
}

/* Header Tag */

div#header{
    align-self: flex-start;
    background-color: rgba(0,0,0,0.6);
    display: block;
    flex: none;
    height: 110px;
    min-width: 100%;
    order: 1;
    width: 100%;
}

div#header h1{
    -moz-user-select: none;
    -webkit-user-select: none;
    color: #fefefe;
    font-family: 'Playfair Display', Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5em;
    letter-spacing: 0.1em;
    line-height: 110px;
    text-align: center;
    user-select: none;
}

div#header i{
    -moz-animation: crystal 10s infinite;
    -webkit-animation: crystal 10s infinite;
    animation: crystal 10s infinite;
    color: #ffffff;
    margin: 0 0.5em 0 0;
}

/* Page Contaienr */

div#container{
    flex: 1 0 auto!important;
    margin: 0 auto;
    order: 2;
    width: 960px;
}

/* Game Instructions */

div#container div#instructions{
    background-color: rgba(0,0,0,0.6);
    display: block;
    margin: 2em 5em;
    padding: 2em;
}

div#container div#instructions p{
    color: #ffffff;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: left;
}

/* Game Scoreboard */

div#container ul#scoreBoard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-position: inside;
    list-style-type: none;
    margin: 2em 5em;
}

div#container ul#scoreBoard li{
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    display: inline-block;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 125px;
    line-height: 125px;
    position: relative;
    text-align: center;
    width: 250px;
}

div#container ul#scoreBoard li::after{
    color: #ffffff;
    font-family: 'Playfair Display', Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    left: 0.4em;
    line-height: 1;
    position: absolute;
    top: 0.4em;
}

div#container ul#scoreBoard li#randomNumber::after{
    content: 'Target:'
}

div#container ul#scoreBoard li#winTotal::after{
    content: 'Wins:'
}

div#container ul#scoreBoard li#loseTotal::after{
    content: 'Losses:'
}

/* Crystal Section */

div#container ul#crystals{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-position: inside;
    list-style-type: none;
    margin: 2em 5em;
}

div#container ul#crystals li{
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
    height: 125px;
    margin: 0 1em;
    width: 125px;    
}

div#container ul#crystals li i{
    display: block;
    font-size: 48px;
    line-height: 125px;
    cursor: pointer;
    text-align: center;
    width: 125px;
}

div#container ul#crystals li:nth-child(1){
    color: white;
    order: 1;
}

div#container ul#crystals li:nth-child(2){
    color: red;
    order: 2;
}

div#container ul#crystals li:nth-child(3){
    color: cyan;
    order: 3;
}

div#container ul#crystals li:nth-child(4){
    color: yellow;
    order: 4;
}

/* Score Counter */

div#container div#scoreCounter{
    background-color: rgba(0,0,0,0.6);
    display: block;
    height: 125px;
    margin: 2em auto;
    position: relative;
    width: 250px;    
}

div#container div#scoreCounter::after{
    content: 'Score:';
    color: #ffffff;
    font-family: 'Playfair Display', Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    left: 0.4em;
    line-height: 1;  
    position: absolute;
    top: 0.4em;
}

div#container div#scoreCounter h1#currentScore{
    color: #ffffff;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    height: 125px;
    line-height: 125px;
    text-align: center;
}

/* Footer Tag */

div#footer{
    background-color: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    min-height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}

div#footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-position: inside;
    list-style-type: none;
    margin: 0 auto;
    order: 3;
    width: 820px;
}

div#footer ul:first-child{
    align-self: flex-start;
    order: 1;
}

div#footer ul:nth-child(2){
    align-self: auto;
    order: 2;
}

div#footer ul:last-child{
    align-self: flex-end;
    order: 3;
}

div#footer ul li{
    color: #ffffff;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 50px;
    text-align: center;
}

div#footer ul li a{
    color: #ffffff;
    text-decoration: underline;
}